.app {
	position: relative;
}

.user__header {
	position: fixed;
	color: antiquewhite;
	top: 0;
	width: 100%;
	background-color: #1e5dd3;
	text-align: center;
	z-index: 1;

	.new__user__btn {
		font-size: 1.1em;
		margin: 1em 1.2em;
		width: 8em;
		padding: 0.5em;
		border-radius: 0.7em;
		color: #fff;
		background-color: #0ef;
		transition: scale 0.3s ease;
		&:hover {
			scale: 1.1;
		}
	}
}

.user__container {
	flex-wrap: wrap;
	gap: 2em;
	padding: 8em 1em;
}
